{% load static %}

<div style="display: flex;justify-content: center;gap: 8px;">
    <a href="https://stepik.org/users/501155772" title="Степик">
        <img src="{% static 'images/icon/Stepik_logo.svg' %}" height="20">
    </a>
    <a href="https://github.com/Archangel-Ray" title="GitHub">
        <img src="{% static 'images/icon/GitHub_logo.svg' %}" height="20">
    </a>
    <a href="https://career.habr.com/archangel_ray" title="Хабр Карьера">
        <img src="{% static 'images/icon/Habr_logo.svg' %}" height="20">
    </a>
    <a href="https://vyborg.hh.ru/resume/28f8f2d8ff0b62ac080039ed1f474966736753" title="Резюме на Хэдхантер">
        <img src="{% static 'images/icon/hh_ru_logo.svg' %}" height="20">
    </a>

</div>
мои контакты и аккаунты