{% load static %}

<div style="display: flex;justify-content: center;gap: 8px;">
    <a href="https://t.me/Shining_Archangel_Ray"
       title="Телеграмм"
       target="_blank">
        <img src="{% static 'images/icon/Telegram_logo.svg' %}" height="16">
    </a>
    <a href="{% url 'переход в ВатсАпп' %}"
       title="WhatsApp"
       target="_blank">
        <img src="{% static 'images/icon/WhatsApp_logo.svg' %}" height="20">
    </a>
    <a href="https://stepik.org/users/501155772"
       title="Степик"
       target="_blank">
        <img src="{% static 'images/icon/Stepik_logo.svg' %}" height="20">
    </a>
    <a href="https://github.com/Archangel-Ray"
       title="GitHub"
       target="_blank">
        <img src="{% static 'images/icon/GitHub_logo.svg' %}" height="20">
    </a>
    <a href="https://career.habr.com/archangel_ray"
       title="Хабр Карьера"
       target="_blank">
        <img src="{% static 'images/icon/Habr_logo.svg' %}" height="20">
    </a>
    <a href="https://vyborg.hh.ru/resume/28f8f2d8ff0b62ac080039ed1f474966736753"
       title="Резюме на Хэдхантер"
       target="_blank">
        <img src="{% static 'images/icon/hh_ru_logo.svg' %}" height="20">
    </a>
</div>
мои контакты и аккаунты