{% if "/1" not in request.path %}
	<a href="/1"><div class="menu_item">к моему резюме</div></a>
{% else %}
	<a href="{% url 'отобразить навыки' %}"><div class="menu_item">навыки</div></a>
	<a href="{% url 'отобразить рабочие места' %}"><div class="menu_item">рабочие места</div></a>
	<a href="{% url 'отобразить проекты' %}"><div class="menu_item">примеры проектов</div></a>
	<a href="{% url 'отобразить курсы' %}"><div class="menu_item">образование</div></a>
	<a href="{% url 'отобразить всё' %}"><div class="menu_item">сертификаты</div></a>
	<a href="{% url 'отобразить всё' %}"><div class="menu_item">увлечения</div></a>
{% endif %}

{% if user.is_authenticated %}
<p>Личный кабинет:</p>
<a href="{% url 'отобразить личные данные' user.id %}">
	<div class="menu_item menu_item_accounts">Вы вошли под ником: <p>{{user}}</p></div>
</a>
{% else %}
<a href="/accounts/">
	<div class="menu_item menu_item_accounts">Войти в личный кабинет</div>
</a>
{% endif %}
