.right_bar {
    flex: 0 240px;
    background: #1224005e;
/*
    position: sticky;
    top: -220px;
    height: 100%;
*/
}

.main_info {
    background: #122400a1;
}

.photo {
    height: 220px;
}

.photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.motto {
    padding: 0 3px;
    text-align: center;
    font-size: 1.03em;
    font-style: italic;
    font-weight: bold;
    color: white;
    text-shadow: 0.09em 0.09em 0.5em #011000;
}

.ind_info {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 0;
    border-bottom: 0.1em solid #87b742;
}

.tbl_info {
    vertical-align: top;
}

td {
    padding-top: 5px;
}

.left_column {
    font-size: 0.75em;
    font-weight: bold;
    padding-right: 10px;
    color: #87b742;
    text-shadow: 0.1em 0.1em 0.5em #000;
}

.uni_cells {
    font-size: 0.8em;
    padding-bottom: 7px;
    padding-top: 0;
    text-align: left;
    color: #ccdbc9;
}

.right_column {
    vertical-align: middle;
    color: white;
    text-shadow: 0.09em 0.09em 0.2em #000;
}
