body {
    background-color: #d6ffe3;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    max-width: 768px;
    margin: auto;
}

p {
    text-align: center;
}

button {
    display: block;
    padding: 0.5em 1em;
    margin: 20px auto 5px;
    background-color: #12440e21;
    border: 0;
    border-radius: 10px;
    color: #122400;
    font-weight: bold;
    text-shadow: 0 0 0.5em white;
}

button:hover {
    background-color: #142200;
    color: white;
}

.main {
    display: flex;
}

.info {
    background-color: #e8eee3d9;
    flex: 1 1;
}

.basic_inf {
    padding: 10px 20px;
}

.name_user {
    text-align: center;
    font-size: 3em;
    margin-top: 0.3em;
    font-weight: bold;
    padding: 0.7em 0 1em;
    border-top: solid 3px #023000;
    border-bottom: solid 3px #023000;
    color: white;
    text-shadow: 0.05em 0.05em 0.2em #023000;
    background: #12440e21;
    border-radius: 15px;
}

.about_me p {
    text-align: justify;
}

.additional_menu {
    display: flex;
    justify-content: space-between;
    background-color: #12440e21;
    font-weight: bold;
    text-shadow: 0 0 0.5em white;
}

.additional_menu a {
    text-decoration: none;
    margin: 0.2em 0.5em;
    padding: 0.2em 0.5em;
    color: #122400;
}

.additional_menu a:hover {
    background-color: #12440e21;
    border-radius: 0.3em;
    color: white;
}

.footer {
    position: sticky;
    bottom: 0;
    color: white;
    text-align: center;
    background: #122400de;
    padding: 10px 0;
    margin-top: 50px;
}

.edition_table_left {
    width: 8em;
    text-align: right;
    font-size: 0.8em;
    vertical-align: top;
}

.edition_table_right {
    max-width: 390px;
    border-top: 0.1em solid #eeffea;
}
