{%extends 'base.html'%}
{% block title %}о {{ skill.name }} Сергея Савельева{% endblock %}
{% block body %}

<div class="upper_menu">
    {% for choice in menu %}
        <a href="{% url 'отобразить конкретный навык' choice.id %}">{{ choice }}</a> |
    {% endfor %}
</div>

<div class="name_user">
    <div class="under_name_user">
        {{ skill.name }}
        <span class="subtitle">
            {% if skill.level is none %}
                навык не отработан
            {% else %}
                {{ skill.get_level_display }} уровень
            {% endif %}
        </span>
    </div>
</div>

<div class="specifics">
    <div class="main_text">
        {{ skill.description|linebreaks }}
    </div>

    {% if skill.courses.all %}
        <h4>где я приобрёл этот навык:</h4>
        <p>
            {% for course in skill.courses.all %}
            <a href="{% url 'отобразить конкретный курс' course.id %}">{{ course }}</a>,
            {% endfor %}
        </p>
    {% endif %}

    {% if skill.projects.all %}
        <h4>проекты в которых я этот навык применил:</h4>
        <p>
            {% for project in skill.projects.all %}
            <a href="{% url 'отобразить конкретный проект' project.id %}">{{ project }}</a>,
            {% endfor %}
        </p>
    {% endif %}

    {% if skill.i_worked_for.all %}
        <h4>отработал этот навык на рабочих местах:</h4>
        <p>
            {% for worked in skill.i_worked_for.all %}
            <a href="{% url 'отобразить конкретное рабочее место' worked.id %}">{{ worked }}</a>,
            {% endfor %}
        </p>
    {% endif %}
</div>
{% endblock body %}