{%extends 'base.html'%}
{% block title %}Рабочие места Сергея Савельева{% endblock %}
{% block body %}

<div class="upper_menu">
    {% for choice in menu %}
        <a href="{% url 'отобразить конкретное рабочее место' choice.id %}">{{ choice }}</a> |
    {% endfor %}
</div>

<div class="name_user">
    <div class="under_name_user">
        {{ working }}
        <span class="subtitle">{{ working.position }}</span>
    </div>
</div>
<div class="specifics">
    {% if working.start_date is not none %}
        <p>я работал здесь {{working.period_length_display }}</p>
        <p>
            с {{working.start_date}}
            по
            {% if working.end_date is none %}
                настоящее время
            {% else %}
                {{working.end_date}}
            {% endif %}
        </p>
    {% endif %}
    <div class="main_text">
        {{ working.description|linebreaks }}
    </div>

    {% if working.used_skills.all %}
        <h4>навыки отработанные на этом месте:</h4>
        <p>
            {% for skill in working.used_skills.all %}
                <a href="{% url 'отобразить конкретный навык' skill.id %}" class="list_specifications">
                    {{ skill }}
                </a>,
            {% endfor %}
        </p>
    {% endif %}

    {% if working.projects.all %}
        <h4>проекты сделанные на этом месте:</h4>
        <p>
            {% for project in working.projects.all %}
                <a href="{% url 'отобразить конкретный проект' project.id %}" class="list_specifications">
                    {{ project }}
                </a>,
            {% endfor %}
        </p>
    {% endif %}
</div>
{% endblock body %}