<div class="feedback-section">
    <a href="#" id="show-form-link"><h4>Оставить отзыв</h4></a>

    <div id="feedback-form" class="collapsed">
        <form method="post">
            {% csrf_token %}
            {{ feedback_form.as_p }}
            <button type="submit">Отправить</button>
        </form>
    </div>

    <script>
    document.getElementById("show-form-link").addEventListener("click", function(e) {
        e.preventDefault();
        const formBlock = document.getElementById("feedback-form");
        formBlock.classList.toggle("expanded");
    });
    </script>

    <h3>Отзывы</h3>

    {% for fb in feedbacks %}
        <div class="feedback">
            <strong>{{ fb.display_author }}</strong>:
            <p>{{ fb.content }}</p>
            <small>{{ fb.created_at }}</small>
        </div>
    {% empty %}
        <p>тут ещё нет отзывов. Ваш будет первым.</p>
    {% endfor %}

</div>