{%extends 'base.html'%}
{% block title %}Редактирование данных {{ user }}{% endblock %}
{% block body %}
<p style="
            color: #fff;
            border: 0.1em solid #eeffea;
            padding: 1em;
            border-radius: 0.4em;
            background: #d7ddc3;
            text-shadow: 0.01em 0.01em 1em black;
            ">
    Если чего-то не хватает, пишите внизу в комментариях, что добавить: Страну, Город, Профессию, Специализацию.
    Короче всё, что хотите добавить или по вашему мнению тут не хватает. Я обязательно это добавлю.
</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="edition_table">
                <div class="edition_table_left">{{ field.label_tag }}</div>
                <div class="edition_table_right
                {% if field.name in '[specialization_professions, languages]' %} rollUp {% endif %}"
                >
                    {{ field.errors }}
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <button type="submit">Сохранить</button>
    </form>
{% endblock body %}