{%extends 'base.html'%}

{% block title %}
    {% if myuser.username == "admin" %}
        Сергей Савельев
    {% else %}
        Информация о {{ myuser }}
    {% endif %}
{% endblock title %}

{% block body %}
{% if myuser.first_name or myuser.patronymic or myuser.last_name%}
    <div class="name_user">
        {% if myuser.first_name %}{{ myuser.first_name }}{% else %}{% endif %}
        {% if myuser.patronymic %}{{ myuser.patronymic }}{% else %}{% endif %}
        {% if myuser.last_name %}{{ myuser.last_name }}{% else %}{% endif %}
    </div>
{% endif %}
{% if myuser.about_me %}
    <p>{{ myuser.about_me }}</p>
{% else %}
    <p>пользователь ничего о себе не написал</p>
{% endif %}
{% endblock body %}