{%extends 'base.html'%}
{% block title %}Редактирование данных {{ user }}{% endblock %}
{% block body %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="edition_personal_information">
            <tbody class="edition_personal">
                {% for field in form %}
                    <tr class="edition_table">
                        <td class="edition_table_left">{{ field.label_tag }}</td>
                        <td class="edition_table_right">
                            {{ field.errors }}
                            {{ field }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Сохранить</button>
    </form>
{% endblock body %}