{%extends 'base.html'%}
{% block title %}Рабочие места Сергея Савельева{% endblock %}
{% block body %}
<div class="name_user">
    Где я работал
    <div class="under_menu">|
        {% for working in workings %}
        <a href="{% url 'отобразить конкретное рабочее место' working.id %}">{{ working.name }}</a> |
        {% endfor %}
    </div>
</div>
{% for working in workings%}
    <div class="specifics">
        <h2>
            {{ working.name }}
            <span class="subtitle">{{ working.position }}</span>
        </h2>
        <a href="{% url 'отобразить конкретное рабочее место' working.id %}" class="a_main_text"><div class="main_text">
            {{ working.description|linebreaks|truncatewords:30 }}
        </div></a>
        <p>
            {% if working.start_date is not none %}
                я работал здесь {{working.period_length_display }}
            {% endif %}
        </p>
    </div>
{% endfor%}

{% include "new/feedback_block.html" %}

{% endblock body %}