{%extends 'base.html'%}
{%load static%}

{% block title %}Сертификаты Сергея Савельева{% endblock %}
{% block body %}
<div class="name_user">
    Сертификаты<span class="subtitle projects" style="bottom: 0.4em;">которые я получил</span>
    <div class="under_menu"> |
        {% for certificate in certificates %}
            <a href="{% url 'отобразить конкретный сертификат' certificate.id %}">{{ certificate }}</a> |
        {% endfor %}
    </div>
</div>
{% for certificate in certificates %}
    <div class="specifics">
        <h2>
            {{certificate}}
            <span class="subtitle">
            <a href="{{ certificate.link_to_the_original }}" target="_blank">
                посмотреть на оригинал
            </a>
            </span>
        </h2>
        <div class="certificate">
            <img
                src="{% static ''|add:certificate.image.url %}"
                alt="Изображение сертификата"
            >
            <a href="{% url 'отобразить конкретный сертификат' certificate.id %}" class="a_main_text">
                <div class="main_text">
                    <p>я получил этот сертификат {{certificate.date}} на курсе {{certificate.course}}</p>
                    {{ certificate.description|linebreaks|truncatewords:30 }}
                </div>
            </a>
        </div>
    </div>
{% endfor%}
{% endblock body %}