{%extends 'base.html'%}
{% block title %}Рабочие места Сергея Савельева{% endblock %}
{% block body %}
<div class="name_user">
    Где я работал
    <div class="under_name_user">
        {% for working in workings %}
        <a href="{% url 'отобразить конкретное рабочее место' working.id %}">{{ working.name }}</a> |
        {% endfor %}
    </div>
</div>
{% for working in workings%}
    <div class="specifics">
        <h2>
            {{ working.name }}<br>
            <span class="under_name_user">{{ working.position }}</span>
        </h2>
        <a href="{% url 'отобразить конкретное рабочее место' working.id %}"><div class="main_text">
            {{ working.description|linebreaks|truncatewords:20 }}
        </div></a>
    </div>
{% endfor%}
{% endblock body %}