{%extends 'base.html'%}
{% block title %}Навыки Сергея Савельева{% endblock %}
{% block body %}
<div class="name_user">
    Мои навыки
    <div class="under_menu">|
        {% for skill in skills %}
        <a href="{% url 'отобразить конкретный навык' skill.id %}">{{ skill.name }}</a> |
        {% endfor %}
    </div>
</div>
{% for skill in skills%}
    <div class="specifics">
        <h2>
            {{ skill.name }}
            <span class="subtitle">
                {% if skill.level is none %}
                    не отработан
                {% else %}
                    {{ skill.get_level_display }}
                {% endif %}
            </span>
        </h2>
        <a href="{% url 'отобразить конкретный навык' skill.id %}" class="a_main_text"><div class="main_text">
            {{ skill.description|linebreaks|truncatewords:30 }}
        </div></a>
    </div>
{% endfor%}
{% endblock body %}