{% load static %}

{% if myuser %}
	<div class="photo">{% if myuser.photo %}
		<a href="/{{ myuser.id }}">
			<img
					src="{% static ''|add:myuser.photo.url %}"
					alt="Личная фотография"
			>
		</a>
		{% else %}
		<img
				src="{% static 'images/user_s_photo/default.jpg' %}"
				alt="Фото по умолчанию"
		>
		{% endif %}
	</div>
	<div class="motto">
		{% if myuser.motto %}
			{{ myuser.motto }}
		{% else %}
			у пользователя нет девиза
		{% endif %}
	</div>
	<table class="ind_info">
		<tbody class="tbl_info">
			{% if myuser.city %}
			<tr>
				<td class="left_column">расположение:</td>
				<td class="right_column">{{ myuser.city }}</td>
			</tr>
			{% endif %}

			{% if myuser.birthday %}
			<tr>
				<td class="left_column">день рождения:</td>
				<td class="right_column">{{ myuser.birthday }}</td>
			</tr>
			{% endif %}

			{% if myuser.profession %}
			<tr>
				<td class="left_column">профессия:</td>
				<td class="right_column">{{ myuser.profession }}</td>
			</tr>
			{% endif %}

            {% if myuser.profession %}
                {% if myuser.specialization_professions %}
                    <tr>
                        <td colspan="2" class="uni_cells">
                            {{ myuser.specialization_professions.all|join:", " }}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}

			{% if myuser.get_the_level_of_professionalism_display %}
			<tr>
				<td class="left_column">уровень:</td>
				<td class="right_column">{{ myuser.get_the_level_of_professionalism_display }}</td>
			</tr>
			{% endif %}

			{% if myuser.job %}
			<tr>
				<td class="left_column">место работы:</td>
				<td class="right_column">{{ myuser.job }}</td>
			</tr>
			{% endif %}

			{% if myuser.citizenship %}
			<tr>
				<td class="left_column">гражданство:</td>
				<td class="right_column">{{ myuser.citizenship }}</td>
			</tr>
			{% endif %}

			{% if myuser.languages.all %}
			<tr>
				<td colspan="2" class="left_column">знание языков:</td>
			</tr>
			<tr>
				<td colspan="2" class="uni_cells">
					{{ myuser.languages.all|join:", " }}
				</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
{% endif %}
