{%extends 'base.html'%}
{% block title %}Отправка сообщения Сергею Савельеву{% endblock %}
{% block body %}
{% if sent %}
    <h3>Сообщение было отправлено. Спасибо.<br>Я обязательно его прочитаю.</h3>
{% else %}
    <h3>Отправить мне сообщение на эл.почту</h3>
    <form method="post" style="display: grid;gap: 10px;">
        {% csrf_token %}
        {% if user.first_name %}
            {% if user.last_name %}
                <input
                        type="text"
                        name="name"
                        value="{{ user.first_name }} {{ user.last_name }}"
                        placeholder="Как Вас зовут?"
                        required
                >
            {% else %}
                <input
                        type="text"
                        name="name"
                        value="{{ user.first_name }}"
                        placeholder="Как Вас зовут?"
                        required
                >
            {% endif %}
        {% else %}
            <input
                    type="text"
                    name="name"
                    placeholder="Как Вас зовут?"
                    required
            >
        {% endif %}

        {% if user.email %}
            <input
                    type="text"
                    name="name"
                    value="{{ user.email }}"
                    placeholder="Ваш email нужен мне что бы я знал куда посылать ответ"
                    required
            >
        {% else %}
            <input
                    type="email"
                    name="email"
                    placeholder="Ваш email нужен мне что бы я знал куда посылать ответ"
                    required
            >
        {% endif %}
        <textarea
                name="message"
                placeholder="Что Вы хотели мне написать?"
                required
        ></textarea>
        <button type="submit">Отправить</button>
    </form>
{% endif %}
{% endblock body %}